<h1>Editing comment by <%= @comment.author %></h1>

<%= simple_form_for [:admin, @comment] do |form| -%>
  <%= form.input :author %>
  <%= form.input :author_url, :required => false %>
  <%= form.input :author_email, :required => false %>
  <%= form.input :body, :hint => "<a href='http://lesstile.rubyforge.org'>Lesstile enabled</a>.".html_safe %>
  <%= form.button "Save" %>
<% end -%>
