<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">

  <title><%= Enki.config[:title] %> - Admin</title>

  <%= csrf_meta_tag %>

  <%= javascript_include_tag 'admin' %>

  <%= stylesheet_link_tag 'admin' %>
  <%= yield(:head) %>

  <% if flash[:notice] -%>
  <script>
    jQuery(document).ready(function() {
      humanMsg.displayMsg('<%= escape_javascript(flash[:notice]) %>');
    })
  </script>
  <% end -%>

</head>
<body>
  <div id="page">
    <div id="content">
      <%= yield %>
    </div>
    <div id="nav">
      <ul>
        <li><%= nav_link_to("Dashboard", enki.admin_root_path,       :accesskey => '1') %></li>
        <li><%= nav_link_to("Posts",     enki.admin_posts_path,      :accesskey => '2') %> <%= nav_link_to("(+)", enki.new_admin_post_path, :accesskey => 'n') %></li>
        <li><%= nav_link_to("Pages",     enki.admin_pages_path,      :accesskey => '3') %> <%= nav_link_to("(+)", enki.new_admin_page_path, :accesskey => 'p') %></li>
        <% if comments? -%><li><%= nav_link_to("Comments",  enki.admin_comments_path,   :accesskey => '4') %></li><% end -%>
        <li><%= nav_link_to("Actions",   enki.admin_undo_items_path, :accesskey => '5') %></li>
        <li><%= nav_link_to("Health",    enki.admin_health_path,     :accesskey => '6') %></li>
        <li class="separator">&nbsp;</li>
        <li><%= link_to("Logout", enki.admin_session_path, :accesskey => 'l', :method => :delete) %></li>
        <li><%= link_to("View Site", '/',             :accesskey => 'v', :title => 'View Site') %></li>
      </ul>
    </div>
  </div>
</body>
</html>
